.nv-hidden-wrapper {
  overflow: hidden;
}

.nv-switch-paddle {
  @include switch-paddle;
  vertical-align: middle;
}

[type='checkbox'] + label, [type='radio'] + label {
  vertical-align: middle;
}

.nv-switch-label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 10px;
}
