/* NAVYSTAVKE CALENDAR*/

.nv-calendar {
  padding-top: 30px;
}
.nv-calendar--info {
  padding-right: 40px;
  position: relative;
  display: block;
  &:after {
    /* CALENDAR ARROW */
    content: "";
    position: absolute;
    right: 0px;
    top: 0;
    width: 19px;
    height: 100%;
    background-image: url("../public/imgs/calendar/cal-arrow2.png");
    background-repeat: no-repeat;
    opacity: 0.7;
  }
}
.nv-calendar--info--title {
  font-size: 1.6rem;
  color: #52697b;
  text-transform: uppercase;
  line-height: 0.85;
  //margin-left: -1px;
}
.nv-calendar--info--desc {
  font-size: 0.9rem;
  line-height: 1.1;
  text-transform: lowercase;
  color: #52697b;
}
.nv-calendar--city--input {
  margin-top: 15px;
  border: none;
}


.nv-calendar--date {
  //@include grid-row(1);
  margin-top: 30px;
}

.nv-calendar--date--day-and-month {
  //@include grid-column(1, $gutter: 0);
  //float: left;
  text-align: center;
}

.nv-calendar--date--day-and-month--day {
  font-size: 3.1rem;
  color: #d57883;
  //text-align: center;
  line-height: 0.8;
}

.nv-calendar--date--day-and-month--month {
  font-size: 2rem;
  color: #52697b;
  text-transform: lowercase;
  line-height: 0.9;
  //text-align: center;
}

.nv-calendar--date--weekday-and-time {
  //@include grid-column(1, $gutter: 0);
  //@include
  //float: right;
  text-align: center;
  padding-top: 15px;
}
.nv-calendar--date--weekday-and-time--weekday {
  font-size: 1.5rem;
  color: #688499;
  line-height: 0.5;
}
.nv-calendar--date--weekday-and-time--time {
  font-size: 2rem;
  color: white;
}







.nv-calendar-container {
  //margin: 0 -0.9375rem;
  height: 100%;
  @include grid-col(4 of 5, $gutter: 0);
  @include grid-col-pos(1);
  position: absolute !important;
  overflow: hidden;
}

.nv-calendar-events {
  position: relative;
  pointer-events: all;
  //display: none;
  height: 100%;
  width: 100%;
  //background-color: red;
  z-index: 100;
  left: -95%;
}
.nv-calendar-events-row {
  background-color: white;
  &:nth-child(even) {
    background-color: darken(white, 1%);
  }
}

.nv-calendar-events-row--event {
  background-color: green;
  .nv-calendar-events-row--event-header {
    display: block;
    width: 100%;
    height: 40px;
    vertical-align: middle;
    text-align: left;
  }
}