.nv-footer {
  height: 225px;
  clear: both;
  @include breakpoint(medium down) {
    height: 365px;
  }
  background-color: #58788f;
  //@include grid-row();
}

.nv-footer--icons {
  @include grid-column(19.5%, $gutter: 0);
  @include breakpoint(large down) {
    @include grid-column(1 of 1, $gutter: 0);
  }
  @include horizontal-center;
  height: 125px;
}
.nv-footer--icons-icon {
  @include grid-column(1 of 3, $gutter: 0);
  position: relative;
  height: 100%;
  & > a {
    display: block;
    @include absolute-center;
    & > img { width: 60px; max-width: none;}
  }
}
.nv-footer--icons-div {
  height: 125px;
  position: relative;
}


@mixin nvFooterContacts {
  min-height: 80px;
  //height: 100%;
  position: relative;
  & > a.nv-footer-logo {
    //@include absolute-center;
    @include horizontal-center;
  }
}

.nv-footer--contacts {
  //height: 80px;
  @include grid-row(3);
  @include nvFooterContacts;
}
.nv-footer--contacts--logo {
  @include grid-column(1);
  @include breakpoint(medium down) {
    @include grid-column(3);
    //@include absolute-center;
    min-height: 35px;
    margin-bottom: 10px;
  }

  @include nvFooterContacts;
}
.nv-footer--contacts--address {
  @include grid-column(1);
  @include breakpoint(medium down) {
    @include grid-column(3);
    margin-bottom: 15px;
  }

  @include nvFooterContacts;
  text-align: center;
  color: #f5f6f7;

}
.nv-footer--contacts--brb-logo {
  @include grid-column(1);
  @include breakpoint(medium down) {
    @include grid-column(3);
    margin-bottom: 10px;
  }

  @include nvFooterContacts;
}
