.webinar { padding-top: 25px; padding-bottom: 20px; }
.webinar-logo { float: left; width: 10%; text-align: center;  }
.webinar-text { float: left; border-left: 1px dashed #7d7d7d; padding-left: 50px; width: 85%; }
.webinar h3 { color: #216798; font-size: 14px; padding-bottom: 10px; }
.webinar-text img { float: left; margin: 0 10px 10px 0px; }
.webinar-text .l-name, .webinar-text .l-post { font-style: italic; padding-bottom: 3px; color: #898989; }
.webinar-text strong { float: left; font-weight: bold; padding-top: 8px; clear: left; }
.webinar-text .button { /*float: left;*/ margin-top: 6px; margin-left: 1em;}

.webinar-views { float: left; font-size: 10px; /*margin-left: 10px;*/ color: #666; /*margin-top: 7px;*/}
.webinar-views-0 { display: none; }