.nv-main__page-expo-info {
  height: inherit;
}


@mixin nvTopBarHeight {
  height: 90px;
  @include breakpoint(mini down) {
    height: 60px;
  }
}

#nv-expo-top-bar {
  position: relative;
  z-index: 10 ;
  &::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(#4a4a4a, 0.7), rgba(#4a4a4a, 0.3), transparent);
  }
}

.nv-expo-top-bar--search {
  background-color: #db9c24;
  //padding: 23px 30px ;
  height: inherit;

  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 20px;
    background-image: linear-gradient(to bottom, rgba(#4a4a4a, 0.6), rgba(#4a4a4a, 0.3), transparent);
  }

  @include grid-row(2);
  .nv-expo-top-bar--search-title {
    @include nvTopBarHeight;
    position: relative;
    text-transform: uppercase;
    font-size: 1.5rem ;
    color: black;
    text-align: center;
    @include grid-column(1 of 2);
    @include breakpoint(medium down) {
      @include grid-column(1 of 1);
    }
    span {
      width: 100%;
      @include absolute-center;
    }
  }
  .nv-expo-top-bar--search-input {
    @include nvTopBarHeight;
    @include grid-column(1 of 2);
    @include breakpoint(medium down) {
      @include grid-column(1 of 1);
    }
    position: relative;
    text-align: center;

    span {
      margin: 0 auto;
      padding: 0 5%;
      display: inline-block;
      width: 80%;
      @include absolute-center;
    }

    input {
      position: relative;
      border-radius: 5px;
      //padding-top:  6px;
      font-size: 1.2rem;
      border: none;
      margin: 0;
      vertical-align: middle;
      display: inline-block;
      width: 81%;
      &::placeholder {
        text-transform: uppercase;
      }
    }
    input + label {
      position: relative;
      display: inline-block !important;
      vertical-align: middle;
    }
    input + label::before {
      position: absolute;
      content: '';
      right: 0;
      top: -8px;
      width: 36px;
      bottom: -8px;
      background-image: url('../imgs/icons/search.png' );
      /* background-size: 100%; */
      background-repeat: no-repeat;
      background-position: 0px 6px;
    }
  }
}



.nv-expo-top-bar--filters {
  background-color: #7f91a7;
  padding: 0 50px;
  @include grid-row(3);
}
.nv-expo-top-bar--filters-column {
  text-align: center;
  position: relative;
  @include nvTopBarHeight;
  @include grid-column(1 of 3);
  @include breakpoint(mini down){
    @include grid-column(3 of 3 );
    //a {
    //  margin: 10px 6px;
    //}
  };
  a {
    @include absolute-center;
    text-transform: uppercase ;
    display: inline-block;
    color: white;
    background-color: #7f91a7;
    padding: 5px 40px;
    border: 1px solid white;
    width: 90%;
    &.active {
      background-color: #566a83;
    }
  }
}


/*LEFT SIDEBAR FILTERS*/

#nv-expo-filters {
  //position: absolute;
  padding-top:  180px;
}
%ul-stick-filters {
  padding-top: 200px;
  margin: 0;
  padding-left: 20px;
  margin-left: -20px;
  background-color: #606c7f;
  .is-sticky & {
    //background-color: green;
    //width: 360px !important;
  }
}

#ul-stick-filters-subjects { @extend %ul-stick-filters; }
#ul-stick-filters-types { @extend %ul-stick-filters; }
#ul-stick-filters-cities { @extend %ul-stick-filters; }

%filter {
  position: absolute;
  display: none ;
  left: 0;
  top: 0;
  height: 100%;
  width: 30%;
  background-color: #606c80;
  color: white ;
  padding: 20px 20px;
  ul > li {
    padding: 5px 0;
    a {
      color: white;
      letter-spacing: 0.8px;
    }
  }
}
.nv-expo-filter-subjects {
  @extend %filter;
}
.nv-expo-filter-types {
  @extend %filter;
}
.nv-expo-filter-cities {
  @extend %filter;
}


/* LIST OF STANDS*/

.nv-expo-grid {
  padding: 35px 140px;
  @include breakpoint(medium down) {
    padding: 20px 50px;
  }
  background-color: #ebebf8;
}
.nv-expo-grid--row {
  @include grid-row(3);
  border-top: 1px solid #c8d2dd;
  &:last-child {
    border-bottom: 1px solid #c8d2dd;
  }
}
.nv-expo-grid--cell {
  display: block;
  padding-top: 30px;
  height: 190px;
  text-align: center;
  @include grid-column(1);
  @include breakpoint(639px down){
    @include grid-column(3);
  }
  border-left: 1px solid #c8d2dd;
  background-color: white;
  &:last-child {
    border-right: 1px solid #c8d2dd;
  }
  transition: 0.2s;
  &:hover {
    background-color: lighten(#ebebf8, 10%);
    transition: 0.2s;
    transform: scale(1.1);
    //box-shadow: 0px 0px 5px 5px gray ;
    box-shadow: 0px 0px 5px 5px rgba(166, 166, 175, 0.32);
  }
}

.nv-expo-grid--cell-title {
  font-size: 1.2rem;
  color: grey;
}
