.nv-main__page-review {
  height: inherit;
  background-color: #d4dbe4;
}

.nv-page-reviews {
  height: inherit;
  background-color: #d4dbe4;
  min-height: 4800px;
}

.nv-page-review {
  padding: 30px 10%;
}

.nv-page-review--header {
  font-size: 1.8rem;
  text-align: center;
  color: #414040;
  text-shadow: 1px 1px 1px #aaa;
}
.nv-page-review--dates {
  font-size: 1.3rem;
  color: red;
  text-align: center;
}

.nv-page-review--descr-key {
  color: #0a0a0a;
}
.nv-page-review--descr-value {
  a{
    color: red;
    &.nv-text-gray {
      color: $secondary-color;
    }
  }
}

.nv-page-review--text {
  padding-top: 30px;
  img {
    margin: 10px auto;
    display: block;
    margin-top: 30px;
  }
  figure {
    @include breakpoint(640px down) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  figcaption {
    text-align: center;
  }
}

.nv-review-rating {
  text-align: center;
  img {
    display: inline-block;
  }
  .nv-review-rating--caption {
    padding-top: 22px;
  }
}

.nv-review-viewed {
  background-color: #e99323;
  width: 100%;
  padding: 20px;
  margin: 30px 0;
  color: #0a0a0a;
  font-size: 1.2rem;
  @include grid-row(10);
  //text-align: center;
  .nv-review-viewed--who {
    @include grid-column(8);
  }
  .nv-review-viewed--count {
    @include grid-column(2);
    text-align: right;
  }
}

.rexpo_more_reviews { float: right; background: url(../imgs/rows/all_reviews.png) no-repeat; width: 89px; height: 16px; }
.rexpo_more_standalone a { float: right; background: url(../imgs/rows/review_read.png) no-repeat; width: 98px; height: 16px; }

.paging { margin-top: 15px; margin-bottom: 10px; }
.paging ul { list-style-type: none; text-align: center; }
.paging li { display: inline; background: 0 !important; padding: 0 5px !important; color: #515253; text-align: center; font-size: 11px !important; }
.paging li a { font-weight: bold; color: #707070; }
/* .paging li a:visited { color: #b3b2b2; } */
.paging li.paging_title { font-weight: bold; text-align: left; }
.paging li.paging_currentpage { font-weight: bold; color: #000000 !important; }

.paging_next { float: right; padding: 7px 10px; }
.paging_next a { display: block; width: 7px; height: 7px; background: url(../imgs/rows/news_back.gif) no-repeat; }
.paging_next strong { display: block; width: 7px; height: 7px; background: url(../imgs/rows/news_back_inactive.gif) no-repeat; }
.paging_next span { display: none; }

.paging_previous { float: left; padding: 7px 10px; }
.paging_previous a { display: block; width: 7px; height: 7px; background: url(../imgs/rows/news_forward.gif) no-repeat; }
.paging_previous strong { display: block; width: 7px; height: 7px; background: url(../imgs/rows/news_forward_inactive.gif) no-repeat; }
.paging_previous span { display: none;   }