.nv-main__page-expo-info {
  height: inherit;
}


.nv-expo-top-bar { }
.nv-expo-top-bar--filters { }
.nv-expo-top-bar--search { }



.nv-expo-grid {
  padding: 35px 140px;
  @include breakpoint(medium down) {
    padding: 20px 50px;
  }
  background-color: #ebebf8;
}
.nv-expo-grid--row {
  @include grid-row(3);
  border-top: 1px solid #c8d2dd;
  &:last-child {
    border-bottom: 1px solid #c8d2dd;
  }
}
.nv-expo-grid--cell {
  display: block;
  padding-top: 30px;
  height: 190px;
  text-align: center;
  @include grid-column(1);
  @include breakpoint(639px down){
    @include grid-column(3);
  }
  border-left: 1px solid #c8d2dd;
  background-color: white;
  &:last-child {
    border-right: 1px solid  #c8d2dd;
  }
  transition: 0.2s;
  &:hover {
    background-color: lighten(#ebebf8, 10%);
    transition: 0.2s;
    transform: scale(1.1);
    //box-shadow: 0px 0px 5px 5px gray ;
    box-shadow: 0px 0px 5px 5px rgba(166, 166, 175, 0.32);
  }
}

.nv-expo-grid--cell-title {
  font-size: 1.2rem;
  color: grey;
}

.nv-expo-filter-subjects {}
.nv-expo-filter-types {}
.nv-expo-filter-cities {}

